@page
@model RobertGuzikRazorPagesv4.Pages.Animals.IndexModel
@{
	ViewData["Title"] = "Animals List";
}
<h1> Animals list </h1>
@if (Model.message != null){
	<div class="alert alert-info alert-dismissible" role="alert">
		<button type="button" class="btn-close" data-dismiss="alert" aria-label="close">
			<span aria-hidden="true">&times;</span>
		</button>
		@Model.message
		</div>
}
@if (Model.Animals != null && Model.Animals.Count > 0)
{
	<table class=" table table-hover  ">
		<thead>
			<tr>
			   <th> @Html.DisplayNameFor(Model => Model.Animals[0].AnimalId)</th>
			   <th> @Html.DisplayNameFor(Model => Model.Animals[0].Name)</th>
			   <th> @Html.DisplayNameFor(Model => Model.Animals[0].BirthDate)</th>


	        </tr>
	  </thead>
	  <tbody>
		@foreach (var item in Model.Animals)
	{
		<tr>
			<td>@item.AnimalId</td>
			<td>@item.Name</td>
			<td>@item.BirthDate</td>

		</tr>
		



	}

	</tbody>
	</table>

	}
	@section Scripts {
		@{
			await Html.RenderPartialAsync("_AlertScriptsPartial");
		}

	}
